@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

    /* Light Theme */
  --primary-base: #008bcc;
  --primary-10: #33aadd;
  --background-main: #ffffff;
  --background-neutral: #ebebf2;
  --background-secondary: #f0f0f0;
  --background-light: #98cce3;
  --neutral-text-primary: #1a1a1a;
  --neutral-text-secondary: #2f2f2f;
  --neutral-text-tertiary: #4a4a4a;
  --neutral-border: #ebebf2;
  --error: #ff3830;
  --white: #f5f5f5;
  --black: #1a1a1a;
}

@theme {
  /* Light Theme */
  --color-primary-base: #008bcc;
  --color-primary-10: #33aadd;
  --color-background-main: #ffffff;
  --color-background-neutral: #ebebf2;
  --color-background-secondary: #f0f0f0;
  --color-background-light: #98cce3;
  --color-neutral-text-primary: #1a1a1a;
  --color-neutral-text-secondary: #2f2f2f;
  --color-neutral-text-tertiary: #4a4a4a;
  --color-neutral-border: #ebebf2;
  --color-error: #ff3830;
  --color-white: #f5f5f5;
  --color-black: #1a1a1a;
}

@layer base {
  [data-theme="dark"] {
    /* Dark Theme */
    --color-primary-base: #008bcc;
    --color-primary-10: #0378b3;
    --color-background-main: #1a1a1a;
    --color-background-neutral: #303030;
    --color-background-secondary: #202020;
    --color-background-light: #1e3a4d;
    --color-neutral-text-primary: #f5f5f5;
    --color-neutral-text-secondary: #c4c4c4;
    --color-neutral-text-tertiary: #a1a1a1;
    --color-neutral-border: #303030;
    --color-error: #b3261e;
    --color-white: #f5f5f5;
    --color-black: #1a1a1a;
  }
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  /* min-height: 100vh; */
  padding: 0;
  background-color: var(--color-background-main);
}

input{
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

textarea{
  outline: none;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

